* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./img/sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.App {
  /* text-align: center; */
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background-color: white;
  color: white;
  background: linear-gradient(to right bottom, rgba(235, 244, 255, 0.7), rgba(218, 234, 255, 0.3));
  border-radius: 2rem;
  height: 50vh;
  width: 60%;
  padding: 2rem;
  backdrop-filter: blur(3rem);
}

.city-name, .weather-info {
  animation-name: weather-animation;
  animation-duration: 3s;
}

.city-name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  float: right;
}

.temperature img, p {
  vertical-align: middle;
  display: inline-block;
}

.weather-img {width: 80px;}

.temp {
  font-size: 60px;
  font-weight: bold;
}

.info {
  display: inline-block;
  width: 10rem;
}

.info p {
  margin: 20px 10px;
}

@keyframes weather-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media only screen and (max-width: 620px) {
  .glass {width: 70%;}
  
  .city-name {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  
  .weather-img {width: 80px;}
  
  .temp {font-size: 2.5rem;}

  .info {
    width: 13rem;
    /* margin: 0 1.6rem; */
  }
  
  .info p {margin: 20px 10px;}
}